@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import './reset.css';

:root {
	--gray: #424551;
	--orange: #ff5a30;
	--white: #fff;
	--lite-gray: #787a80;
}

html,
body {
	font-family: 'Ubuntu';
	margin: 0;
	padding: 0;
}

a,
p {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	padding: 0 30px;
	max-width: 1290px;
}

/* Nav */

.nav {
	padding: 20px 0;
	border: none;
	background-color: var(--white);
	letter-spacing: normal;
}

.logo {
	width: 120px;
}

.nav-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	column-gap: 40px;
	max-width: 447px;
}

.nav-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-list__link {
	color: var(--gray);
	font-size: 16px;
	font-weight: 700;
}

.nav-list__link-active {
	color: var(--orange);
}

.contacts {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contact-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 0 0 30px;
}

.contact-container .phone-img {
	width: 20px;
	margin: 0 5px 0 0;
}

.contact-container .chat-img {
	width: 35px;
}

.contact-container .contact-info {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin: 0 0 0 10px;
}

.contact-container .contact-info p {
	margin: 0;
	font-size: 18px;
	color: #1e212c;
	font-weight: 500;
}

.contact-container .contact-info .text {
	font-size: 14px;
	color: #424551;
	font-weight: bold;
}

/* First block */

.background1 {
	height: 600px;
	background-color: #f4f5f6;
	background-image: url('../img/background1.png');
	background-repeat: no-repeat;
	background-position: right;
}

.first-page {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.first-page .container {
	width: 1240px;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin: 85px 0 0;
}

.first-page .container .page-ref {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.first-page .container .page-ref p,
a {
	font-size: 14px;
	color: #9a9ca5;
}

.first-page .container .page-ref p {
	margin: 0 5px;
}

.first-page .container .page-ref .current-page {
	color: #424551;
}

.first-page .container .title {
	font-size: 72px;
	font-weight: bold;
	margin: 60px 0 45px 0;
}

.first-page .container .text {
	font-size: 20px;
	color: #787a80;
	max-width: 580px;
}

/* Main */

.main {
	background-color: var(--white);
	min-height: 1213px;
}

.main__title {
	color: var(--gray);

	font-size: 46px;
	font-weight: 700;
	text-align: center;
}

/* Contacts block */

.leave-contacts {
	margin: 30px 0 100px;
}

.contacts__description {
	color: var(--lite-gray);

	font-size: 18px;
	line-height: 1.5;
	text-align: center;

	margin: 24px 0 60px;
}

.contacts__wrapper {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;

	flex-wrap: wrap;
	column-gap: 100px;
	row-gap: 60px;
}

.contacts__form {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.contacts__input {
	font-size: 16px;
	line-height: 1.6;

	color: #9a9ca5;
	background-color: #f4f5f6;

	border: 1px solid #d7dadd;
	border-radius: 4px;

	height: 52px;
	width: 600px;

	padding: 0 15px;
	margin: 0 0 25px;
}

.contacts__message {
	height: 128px;
}

.contacts__message::placeholder {
	margin: 15px 0px;
	position: absolute;
}

.contacts__text {
	font-size: 16px;
	line-height: 1.6;
	color: var(--gray);
	margin: 0 0 5px;
}

.contacts__btn {
	background-color: var(--orange);
	color: var(--white);

	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.5px;

	border-radius: 4px;

	height: 52px;
	padding: 0 35px;
	margin: 25px 0;
}

.contacts__btn:hover {
	background-color: #973820;
}

.btn-container {
	max-width: 600px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* Partners block */

.partners {
	padding: 0 0 120px;
}

.partners__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	flex-wrap: wrap;
	column-gap: 40px;

	margin: 50px 0 0;
}

/* Footer */

footer {
	min-height: 236px;
	background-color: #1e212c;
	padding: 60px 0 90px;
}

footer .company-info .text {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.6);
	max-width: 493px;
	line-height: 150%;
}

footer .subtitle {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
}

footer .company-contacts {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.company-contacts .contacts {
	font-size: 16px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.6);
	margin: 0 0 15px;
}

.company-contacts .contacts .text-title {
	opacity: 1;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}

footer .company-info-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;

	flex-wrap: wrap;
	row-gap: 50px;
}

.company-info-container .mailing-container .description {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.6);
	max-width: 495px;
}

.company-info-container .mailing-container .mailing-title {
	font-size: 24px;
	margin: 0 0 23px;
}

.mailing-title {
	margin: 0 0 23px;
}

.company-info-container .mailing-container .input-container .mailing-input {
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.12);
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right: none;
	height: 42px;
	width: 100%;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.6);
	outline: none;
	padding: 0 0 0 15px;
}

.company-info-container .mailing-container .mailing-input::placeholder {
	font-size: 14;
	color: rgba(255, 255, 255, 0.4);
}

.company-info-container .mailing-container .input-container .subscribe-button {
	background-color: #ff5a30;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 25px;
	color: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	height: 44px;
	border: 0px;
	letter-spacing: 1px;
}

.company-info-container
	.mailing-container
	.input-container
	.subscribe-button:hover {
	background-color: #ff59309d;
	cursor: pointer;
}

.company-info-container .mailing-container .input-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 0 20px;
}

.all-rights-container {
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: space-between;
	margin: 45px 0 0;
}

.company-contacts .description {
	font-size: 12px;
	color: #fff;
	line-height: 1.5;
	display: flex;
	align-items: center;
}

.company-contacts .description .heart {
	color: var(--orange);
	font-size: 30px;
	line-height: 1;
}

@media (max-width: 1280px) {
	.contacts__wrapper {
		justify-content: center;
	}
}

@media (max-width: 1200px) {
	footer .company-info-container {
		flex-direction: column-reverse;
		align-items: center;
	}

	.company-info-container .company-info {
		margin: 0 0 40px;
	}

	header .contacts {
		display: none;
	}
}

@media (max-width: 1100px) {
	.element-to-hide1 {
		display: none;
	}
}

@media (max-width: 1000px) {
	.first-page .container .text {
		max-width: 485px;
	}
}

@media (max-width: 830px) {
	footer .footer-container {
		width: 495px;
	}

	footer .about-company {
		flex-direction: column;
		align-items: right;
	}

	footer .about-company .company-contacts {
		margin: 40px 0 0;
	}

	.all-rights-container {
		flex-direction: column-reverse;
		align-items: start;
		margin: 60px 0;
	}

	.second-page .ceo-img {
		width: 100%;
	}

	.ceo-message .ceo-message-container {
		margin: 80px 40px 0 40px;
	}
}

@media (max-width: 740px) {
	.element-to-hide2 {
		display: none;
	}

	.nav-row {
		justify-content: center;
	}

	header .nav-bar {
		display: none;
	}

	.contacts__form {
		align-items: center;
	}

	.contacts__input {
		width: 250px;
	}
}

@media (max-width: 500px) {
	.first-page .container .title {
		font-size: 46px;
	}

	.first-page .container .text {
		text-align: center;
	}

	.first-page .container {
		align-items: center;
	}
	.second-page .ceo-img {
		width: 80%;
	}

	.ceo-message .ceo-info {
		flex-direction: column;
		align-items: start;
	}

	.ceo-info div {
		margin: 0 0 20px;
	}

	footer .footer-logo-container {
		flex-direction: column;
		align-items: center;
	}

	footer .footer-logo {
		margin: 0 0 20px;
	}

	footer .company-info .text {
		text-align: center;
	}

	.second-page .ceo-message .text {
		font-size: 15px;
	}
}

@media (max-width: 440px) {
	.company-info-container .mailing-container .input-container {
		flex-direction: column;

		flex-wrap: wrap;
		row-gap: 20px;
	}

	.company-info-container .mailing-container .input-container .mailing-input {
		border-radius: 4px;
		border-right: 1px solid rgba(255, 255, 255, 0.2);
	}

	.company-info-container
		.mailing-container
		.input-container
		.subscribe-button {
		border-radius: 4px;
	}

	.mailing-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 360px) {
	.partners__list {
		justify-content: center;
	}
}
